{%- set external_urls = {
  'github': 'https://github.com/StateOfTheArt-quant/sharpe',
  'github_issues': 'https://github.com/StateOfTheArt-quant/sharpe/issues',
  'contributing': '',
  'docs': '',

  'home': '',

  'concepts': 'concepts.html',
  'quickstart': 'quickstart.html',
  'examples': 'examples.html',
  'faq': 'faq.html',
  'about': 'about.html'
}
-%}